h1 {
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: grey;
    color: black;

}

.stories button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: tan;
    color: white;
    cursor: pointer;
}


.stories button:hover {
    background-color: #555;
}
h1 {
    text-align: center;
}